*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    background-color: rgb(22, 22, 22);
}
h1{
    text-align: center;
}
.heading{
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 20px;
}
.center{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    background-color: gray;
}
.btn:hover{
    background-color: rgb(167, 165, 165);
    transform: scale(1.05);
    cursor: pointer;
}
#box{
    font-size: 125px;
}
.start-stop{
    cursor: pointer;
    color: #00ff9c;
    background-color: #2b238e;
    padding: 7.5px 25px;
    border-radius: 10px;
    font-size: 25px;
    width: 150px;
    margin-top: 10px;
    border: 1px solid #2b238e;
}
.credits{
    position: absolute;
    bottom: 2px;
    right: 2px;
}